body {
  background-color: #0A0A0A;
}

.swiper-button-prev,
.swiper-button-next { 
  opacity: .2 !important; 
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px)) !important;
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px)) !important;
} 

.highlight-removal {
  -webkit-tap-highlight-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:focus,
textarea { 
  outline: none ! important; 
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgb(17,24,39,0.9);
  font-weight: 700;
}

/* To show the lines on right 
and left sides of the text */
.divider::after,
.divider::before {
  content: "";
  border: 1px solid rgb(17,24,39,0.7);
  flex: 1;
}

/* Space on left and right sides of text */
.divider:not(:empty)::before {
  margin-right: 0.5em;
}

.divider:not(:empty)::after {
  margin-left: 0.5em;
}

.react-slidedown.my-dropdown-slidedown {
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
}

.react-slidedown.my-dropdown-slidedown-cartIcon {
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

@media (min-width: 500px) {
html::-webkit-scrollbar {
    display: none;
}

html {
  overflow: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.scrollhost::-webkit-scrollbar {
  display: none;
}

.scrollhost-container {
  position: relative;
}

.scrollhost {
  overflow: auto;
  height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}

.scroll-bar {
  width: 15px;
  height: 100vh;
  right: 0;
  top: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 9999;
  overflow: hidden;
  cursor: pointer;
}

.scroll-thumb {
  cursor: grab;
  width: 8px;
  margin-left: 4px;
  margin-top: 3.5px;
  position: absolute;
  border-radius: 7px;
  opacity: 0;
  background-color: white;
  z-index: 9999;
  transition: opacity 0.3s;
}

.toggleScrollThumb {
  transition: opacity 0.3s;
  opacity: 0.50;
}

.scroll-thumb:active {
  cursor: grabbing;
  background-color: white;
  opacity: 0.50;
}  

.scroll-thumb:hover {
  transition: opacity 0.3s;
  opacity: 1 !important;
}  

.scroll-bar:hover .scroll-thumb {
  transition: opacity 0.3s;
  opacity: 0.50;
}
}

@media (max-width: 499px) {
.scroll-thumb {
  display: none;
}
}

.selectSection {
  display: flex;
	flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  border-bottom: 1px dotted #ddd;
  color: white;
}

.selectSection button {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  height: 56px;
}

.first {
  user-select: none;
}

.second {
  border-top: 1px dotted #ddd;
  user-select: none;
}

.third {
  border-top: 1px dotted #ddd;
  user-select: none;
}

.minus {
  display: none;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 12px;
}

.chevron {
  display: none;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 12px;
}

.content {
  display: none;
  font-size: 14px;
  overflow: hidden;
}

.toggled {
  display: block;
}

.description {
  margin-bottom: 16px;
  line-height: 18px;
  padding-right: 20px;
  margin-left: 35px;
}

.details {
  margin-bottom: 16px;
  margin-left: 36px;
}

.size {
  margin-bottom: 16px;
  margin-left: 36px;
}

.paginationBttns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 90px auto 10px auto;
  overflow: hidden;
}

.paginationBttns a {
  color: white;
  cursor: pointer;
  padding: 15px;
  font-size: 20px;
}

.paginationBttns a:hover {
  color: white;
  background-color: #ff00a7;
  opacity: 0.75;
}

.paginationActive a {
  color: white;
  background-color: #ff00a7;
}

.paginationActive a:hover {
  color: white;
  background-color: #ff00a7;
}

.nextBttn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nextBttn:after {
  content: "";
  position: relative;
  right: 2px;
  width: 15px;
  height: 15px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(-45deg);
}

.previousBttn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.previousBttn:after {
  content: "";
  position: relative;
  left: 2px;
  width: 15px;
  height: 15px;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  transform: rotate(45deg);
}

.rc-slider-handle-dragging {
  box-shadow: 0 0 0 5px #fbcfe8 !important;
}