.swiper-button-prev,
.swiper-button-next { 
  opacity: .2 !important; 
}

@media (max-width: 499px) {
.swiper-button-prev,
.swiper-button-next { 
  opacity: 0 !important; 
}
}  

@media (min-width: 1025px) {
.swiper-button-prev:before,
.swiper-button-next:before {
  position: absolute;
  content: '';
  top: -170px;
  right: -150px;
  left: -150px;
  bottom: -170px;
  z-index: 40;
}  
} 

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px)) !important;
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px)) !important;
} 

.highlight-removal {
  -webkit-tap-highlight-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:focus,
textarea { 
  outline: none ! important; 
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgb(17,24,39,0.9);
  font-weight: 700;
}

/* To show the lines on right 
and left sides of the text */
.divider::after,
.divider::before {
  content: "";
  border: 1px solid rgb(17,24,39,0.7);
  flex: 1;
}

/* Space on left and right sides of text */
.divider:not(:empty)::before {
  margin-right: 0.5em;
}

.divider:not(:empty)::after {
  margin-left: 0.5em;
}

.react-slidedown.my-dropdown-slidedown {
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
}

/* html::-webkit-scrollbar {
  display: none;
}

html {
  overflow: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
} */

.scrollhost::-webkit-scrollbar {
  display: none;
}

.scrollhost-container {
  position: relative;
  height: 99vh;
}

.scrollhost {
  overflow: auto;
  height: 99vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}

.scroll-bar {
  width: 15px;
  height: 99vh;
  right: 0;
  top: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 9999;
}

.scroll-thumb {
  cursor: grab;
  width: 8px;
  margin-left: 4px;
  position: absolute;
  border-radius: 7px;
  opacity: 1;
  margin-top: 3px;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 9999;
}

.scroll-thumb:active {
  background-color: rgba(0, 0, 0, 0.85);
}  